.modal-bg{
 position:fixed;
 inset:0;
 background:rgba(0,0,0,.8);
 display:flex;
 justify-content:center;
 align-items:center;
 z-index:999;
}

.modal{
 width:80%;
 max-width:900px;
 background:#111;
 padding:30px;
 border-radius:20px;
}

.modal img{
 width:100%;
 border-radius:15px;
 margin-bottom:20px;
}